@{
    Layout = "/Views/Shared/_LayoutUsuarioLogado.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Ano</th>
            <th>V. de Compra</th>
            <th>V. de Venda</th>
            <th>Cor</th>
            <th>Tipo Combustível</th>
            <th>Data Venda</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Civic LXR 2.0</td>
            <td>Honda</td>
            <td>2020</td>
            <td>32.000</td>
            <td>35.000</td>
            <td>Branco</td>
            <td>Gosolina</td>
            <td>05/08/2020</td>
            <td><a class="btn btn-primary btn-xs">Editar</a></td>
            <td><a class="btn btn-danger btn-xs">Excluir</a></td>
        </tr>
    </tbody>
</table>