<div class="modal fade" id="modal-cadastro-erro" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <img src="/images/erro.png">
                        </center>

                    </div>
                    <div class="col-md-8">
                        <p class="titulo-pagina">Falha ao Realizar o Procedimento. Tente Novamente</p>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                 <button type="button" class="btn btn-primary" data-dismiss="modal">Retornar</button> 
            </div>
        </div>
    </div>
</div>