@model string


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="@Model"class="btn btn-primary">Retornar</a>
                    <button class="btn btn-primary" onClick="window.print()">Imprimir</button> </div>
            </div>
    </div>
</nav>
