<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Veículos na Web</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand nav-bar-logo titulo-pagina">
                    <img src="/images/icone.png" class="img-25" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="titulo-pagina" asp-area="" asp-controller="Marca" asp-action="Index">Marcas</a></li>
                    <li><a class="titulo-pagina" asp-area="" asp-controller="Modelo" asp-action="Index">Modelo</a></li>
                    <li><a class="titulo-pagina" asp-area="" asp-controller="Anuncio" asp-action="Index">Anuncios</a></li>
                    <li class="dropdown-menu-right">
                    <a class="dropdown-toggle titulo-pagina" data-toggle="dropdown" href="/#">
                        <i class="glyphicon glyphicon-user"></i><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="titulo-pagina" href="/Usuario/Perfil">
                                <i class="glyphicon  glyphicon-camera"></i> Perfil
                            </a>
                        </li>
                        <li>
                            <a class="titulo-pagina" href="/Login/Sair">
                                <i class="glyphicon glyphicon-share-alt"></i> Sair
                            </a>
                        </li>
                    </ul>
                </li>
                </ul>
            </div>
        </div>
</nav>
