@{
    Layout = "/Views/Shared/_LayoutUsuarioLogado.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Cadastro de Modelos</h2>
        <a class="btn btn-xs btn-primary">Novo Cadastro</a>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#Id</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Civic LXR 2.0</td>
                    <td>Honda</td>
                    <td><a class="btn btn-primary btn-xs">Editar</a></td>
                    <td><a class="btn btn-danger btn-xs">Excluir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


