/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
   font-family: "Source Sans Pro";
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.text-red {
    color:red;
}

.text-bold {
    font-weight: bold;
}


.btn-100 {
    width: 100%;
}


/*cabecalho-login*/

.cabecalho-login {
    margin-top: 5em;
}

.cabecalho-login h1 {
    font-size: 2em;
}

/*****TITULO DE PAGINA*********/
.titulo-pagina {
    font-weight: bold;
    color:#3fa9ec;
}

/*buttons*/

.btn-primary {
   background-color: #3fa9ec!important;
}

.btn-primary:hover {
    background-color: #2483d1!important;
 }